
.navBarHeadBar{
    background-color: #C7A78E;
    overflow: hidden;
}
#logoNav{
    width: 300px;
    height: 50px;
    
}
.head-navbar a {
    font-family: Urbanist;
    margin-right: 15px;
    color:white;
}
.head-navbar a:hover {
    background-color: #E0C4BD;
    color:white;
    animation-name: bounce;
    animation-duration: 0.7s;
    font-weight: bold;
}
/* .navBarHeadBar{
    margin-top: 0;
    background-color: rgba(235, 99, 99, 0.8);
    z-index: 2;
    height: 110px;
}
#logoNav{
    object-fit: cover;
    width: 100%;
    height: 100px;
    position: relative;
    left: 40%;
}

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

nav div div div a {
    text-decoration: none;
    color: #fff;
    font-family: Balsamiq Sans;
    border-radius: 20px;
    margin: 20px;
}
nav div div div a:hover,
nav div div div a:active{
    background: #d04d46;
}
 */